@using PreSemesterAssignment.Models.Repositories;
@model IEnumerable<PreSemesterAssignment.Models.Opportunity>
@{
}
<!--
    This page provides a list of all the Opportunities registered to the system. The list should support the filtering
    functions, entry deletion, and a link to the form to add a new Opportunity (OpportunityAdd.cshtml
-->
<div>
    <h1>Opportunity List</h1>
    <a asp-controller="Home" asp-action="Admin">Back to Admin Home</a>
    <table>
        <tr>
			<th>ID</th>
            <th>Center</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
            @foreach(Opportunity o in Model)
            {
               <tr>
				    <td>@o.OppurtunityID</td>
                    <td>@o.Center</td>
                    <td>@o.Description</td>
                    <td>@o.DateAdded</td>
                    <td>
                        <a asp-controller="Opportunity" asp-action="EditOpportunity" asp-route-OpportunityID="@o.OppurtunityID">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Opportunity" asp-action="DeleteOpportunity" asp-route-OpportunityID="@o.OppurtunityID">Delete</a>
                    </td>
               </tr>
            }
    </table>
</div>