@using PreSemesterAssignment.Models.Repositories;
@model PreSemesterAssignment.Models.Volunteer
@{
}
<!--
    This page serves as a fillable form edit a Volunteer.
-->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="mb-4 text-center">Volunteer Registration Form</h1>
                    <a asp-controller="Volunteer" asp-action="VolunteerList" class="btn btn-secondary mb-4">Back to Volunteer List</a>
                    <form asp-controller="Volunteer" asp-action="SubmitEditedVolunteer" method="post">
                        <input asp-for="VolunteerID" type="hidden" />
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label asp-for="FirstName" class="form-label">First Name</label>
                                <input asp-for="FirstName" type="text" id="FirstName" value="@Model.FirstName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LastName" class="form-label">Last Name</label>
                                <input asp-for="LastName" type="text" id="LastName" value="@Model.LastName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Username" class="form-label">Username</label>
                                <input asp-for="Username" type="text" id="Username" value="@Model.Username" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Password" class="form-label">Password</label>
                                <input asp-for="Password" type="password" id="Password" value="@Model.Password" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="PreferedCenters" class="form-label">Prefered Centers</label>
                                <input asp-for="PreferedCenters" type="text" id="PreferedCenters" value="@Model.PreferedCenters" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="SkillsAndInterests" class="form-label">Skills And Interests</label>
                                <input asp-for="SkillsAndInterests" type="text" id="SkillsAndInterests" value="@Model.SkillsAndInterests" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="AvailableTimes" class="form-label">Available Times</label>
                                <input asp-for="AvailableTimes" type="text" id="AvailableTimes" value="@Model.AvailableTimes" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="CurrentLicenses" class="form-label">Current Licenses</label>
                                <input asp-for="CurrentLicenses" type="text" id="CurrentLicenses" value="@Model.CurrentLicenses" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="HomeAddress" class="form-label">Home Address</label>
                                <input asp-for="HomeAddress" type="text" id="HomeAddress" value="@Model.HomeAddress" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="ContactNumbers" class="form-label">Contact Number</label>
                                <input asp-for="ContactNumbers" type="text" id="ContactNumber" value="@Model.ContactNumbers" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EmailAddress" class="form-label">Email Address</label>
                                <input asp-for="EmailAddress" type="text" id="EmailAddress" value="@Model.EmailAddress" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EducationLevel" class="form-label">Education Level</label>
                                <input asp-for="EducationLevel" type="text" id="EducationLevel" value="@Model.EducationLevel" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EmergencyContactName" class="form-label">Emergency Contact Name</label>
                                <input asp-for="EmergencyContactName" type="text" id="ECName" value="@Model.EmergencyContactName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EmergencyContactContactNumber" class="form-label">Emergency Contact Number</label>
                                <input asp-for="EmergencyContactContactNumber" type="text" id="ECNumber" value="@Model.EmergencyContactContactNumber" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EmergencyContactHomeAddress" class="form-label">Emergency Contact Home Address</label>
                                <input asp-for="EmergencyContactHomeAddress" type="text" id="ECHomeAddress" value="@Model.EmergencyContactHomeAddress" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Emergency Contact Email Address</label>
                                <input asp-for="EmergencyContactHomeAddress" type="text" id="ECEmailAddress" value="@Model.EmergencyContactHomeAddress" class="form-control" />
                            </div>
                            <div class="col-md-6 form-check mt-4">
                                <input asp-for="DriversLicenseOnFile" type="checkbox" id="LicenseOnFile" class="form-check-input" checked="@(Model.DriversLicenseOnFile)" />
                                <label for="LicenseOnFile" class="form-check">Drivers License on File?</label>
                            </div>
                            <div class="col-md-6 form-check mt-4">
                                <input asp-for="SSNCardOnFile" type="checkbox" class="form-check-input" id="SSNCardOnFile" />
                                <label for="SSNCardOnFile" class="form-check-label">Social Security Card On File?</label>
                            </div>
                            <div class="col-12 mt-4">
                                <label class="form-label">Approval Status:</label><br />
                                <div class="form-check form-check-inline">
                                    <input asp-for="ApprovalStatus" type="radio" name="ApprovalStatus" id="Pending" value="Pending" class="form-check-input" />
                                    <label for="Pending" class="form-check-label">Pending</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="ApprovalStatus" type="radio" name="ApprovalStatus" id="Approved" value="Approved" class="form-check-input" />
                                    <label for="Approved" class="form-check-label">Approved</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="ApprovalStatus" type="radio" name="ApprovalStatus" id="Rejected" value="Rejected" class="form-check-input" />
                                    <label for="Rejected" class="form-check-label">Rejected</label>
                                </div>
                        </div>
                        </div>
                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary px-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

